<br /><br />

<div fxLayout="row wrap" fxLayoutAlign="center start">
  <div fxFlex.gt-sm="55" fxFlex="100">
    <mat-card class="mat-card-top pa-0">
      <mat-card-title style="text-align: center; font-size: 48px; font-weight: lighter;" class="mat-headline">Site Maintenance Menu
      </mat-card-title>
      <br />
      <mat-card-subtitle style="text-align: center; font-weight: lighter;">Please click on one of the following options:</mat-card-subtitle>
      <div fxLayout="column" class="center-button">
        <button mat-raised-button class="site-button" [matMenuTriggerFor]="user">User Maintenance</button><br />
        <mat-menu #user="matMenu" xPosition="after">
          <ul style="list-style-type: none; margin: 0, auto; text-align: center;">
          <li><a routerLink="/admin/users" ><span>User Configuration List</span></a></li>
          <li><a routerLink="/admin/users/:userId"><span>User Details</span></a></li>
          <li><a routerLink="/admin/users/create/new"><span>Create a User</span></a></li>
        </ul>
        </mat-menu>

        <button mat-raised-button class="site-button" [matMenuTriggerFor]="role">Role Maintenance</button><br />
        <mat-menu #role="matMenu" xPosition="before">
          <ul style="list-style-type: none; margin: 0, auto; text-align: center;">
          <li><a routerLink="/admin/roles" ><span>Role Configuration List</span></a></li>
          <li><a routerLink="/admin/roles/:roleId"><span>Role Details</span></a></li>
          <li><a routerLink="/admin/roles/create/new"><span>Create a Role</span></a></li>
        </ul>
        </mat-menu>
        <button mat-raised-button class="site-button" [matMenuTriggerFor]="secq">Security Question Maintenance</button><br />
        <mat-menu #secq="matMenu" xPosition="after">
          <ul style="list-style-type: none;">
          <li><a routerLink="/admin/security-questions" ><span>Security Questions List</span></a></li>
          <li><a routerLink="/admin/security-questions/:questionId"><span>User Details</span></a></li>
          <li><a routerLink="/admin/security-questions/create/new"><span>Create Security Questions</span></a></li>
        </ul>
        </mat-menu>
        <button mat-raised-button class="site-button"><a routerLink="/admin/purchases-by-service-graph">Purchasable Services Maintenance</a></button>
      <!-- <button mat-raised-button [matMenuTriggerFor]="userMenu"><a routerLink="/admin/users" class="register-link">User Maintenance</a></button><br />
        <mat-menu> #users="matMenu>
          <button mat-menu-item [matMenuTriggerFor]='userList'>User Configuration</button>
          <button mat-menu-item [matMenuTriggerFor]='userList'>UserDetails</button>-->
        </div>


      <br />

        <mat-card-content>
          </mat-card-content>
      </mat-card>
  </div>
</div>
