<br /> <br />
<div fxLayout="row wrap" fxLayoutAlign="center start">
    <div fxFlex.gt-sm="55" fxFlex="100">
        <mat-card class="mat-elevation-z6 verify-username">

            <mat-card-title class="title" style="text-align: center; font-size: 24px;"><b>Submit Username</b></mat-card-title>

            <form [formGroup]="form" (ngSubmit)="validateUsername()" #userForm>

                <mat-card-content>
                    <div fxLayout="column" fxLayoutGap="10px">
                        <mat-form-field>
                         <input type="text"
                                matInput [formControl]="form.controls['userName']"
                                placeholder="Username" />
                        </mat-form-field>
                        <div class="msg-error" style="color: #d8000c;"> {{ errorMessage }} </div>
                    </div>
                </mat-card-content>

                <mat-card-actions fxLayoutAlign="end">
                    <button type="submit" mat-raised-button [disabled]="!form.valid" style="background-color: #04B504" color="#000000">Submit</button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</div>