<br /> <br />
<div fxLayout="row wrap" fxLayoutAlign="center start">
    <br /> <br />
    <div fxFlex.gt-sm="55" fxFlex="100">
        <mat-card style="width: 80%;" class="mat-card-top pa-0">
            <mat-card-title style="text-align: center; font-size: 48px; font-weight: lighter;" class="mat-headline">Change Password
            </mat-card-title>
            <br /><br />

            <form [formGroup]="form" (ngSubmit)="resetPassword()" #resetPasswordForm>
                <mat-card-content fxLayout="column">
                    <mat-form-field fxFlex>
                        <input matInput type="password" [formControl]="form.controls['password']" placeholder="New password" />

                        <div style="color: #d8000d;" *ngIf="errorMessage"> {{ errorMessage }}
                        </div>
                        <div style="font-size: 9pt; position: absolute; bottom: -1rem;">*Password must contain 8 characters, one uppercase, lowercase character and one number.</div>
                    </mat-form-field>

                    <br /><br />
                    <div fxFlex fxLayoutAlign="end">
                        <button mat-raised-button style="background-color: #04B504" [disabled]="!form.valid" color="#000000">Submit</button>
                    </div>
                </mat-card-content>
            </form>
        </mat-card>
    </div>
</div>