<!--
=============================================================
 Title:  about.component.html
 * Modifiers: Nicole Forke, Janet Blohn, Joann Saeou
 * Date:   28 October 2020
 * Added By: Janet Blohn
 * Description: Bobs Computer Repair Services project
 * HTML for Bob's Computer Repair Services about.component
=============================================================
-->

<div>
  <div fxLayout="row">
    <div  fxFlex>
      <h1>Who We Are</h1>
      <div class="normal-p">
        <p>
          Welcome to Bob's Computer Repair Shop! Your one-stop shop for all your computer repair needs. We have been in business for 25 years, helping people throughout the city with computer repair issues, ranging from password resets to RAM upgrades.
        </p>
        <p>
          We started in our garage, by removing parts from computers and doing research to learn new techniques on how to maintain and repair our personal computers/laptops. With all the pieces and parts within a computer it can be difficult to maintain one on your own. Wh had friends and family who also needed assistance with their personal computers/laptops so we offered to help. Word spread about the great job we were doing as a side business thanks to them. Within a year, our services started to grow, as did our customer base. This is how we became known as Bob's Computer Repair Services.
        </p>
        <p>
          We are planning on offering repair services for you mobile devices in the near future. This includes: iPads, iPhones, Android devices, Kindle, Nook, and Fire Tablets. We will also begin to service your smart TVs for any needed computer-related repairs.
        </p>
        <p>
          We guarantee our services because we know our highly-skilled technicians will do an excellent job. Unlike the company's founders, our technicians didn't learn from experimenting in their garages and doing research online. Instead, they have completed accredited training in these services. We have become known as the number one shop for gaming computer repair thanks to these talented individuals. You will always receive friendly, professional service from anyone working at Bob's Computer Repair Services. Now that we've moved out of the garage, we offer online services 24 hours a day.
        </p>
      </div>
    </div>
  </div>
<!-- Create the layout for the contact info. -->
  <div fxLayout="row" style="padding-bottom: 5%">

    <!-- Layout for the Mailing Address Column -->
    <div fxFlex>
      <mat-card class="mat-elevation-z0 mat-card-color">
        <mat-card-title class="card-title-icon">
          <mat-icon color="primary" inline=true>contact_mail</mat-icon>
        </mat-card-title>
        <br />
        <mat-card-content class="align-center">
          <p>
            1234 Corn Street
          </p>
          <p>
            Huskerville, NE 68123
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Layout for the Phone Number Column -->
    <div fxFlex>
      <mat-card class="mat-elevation-z0 mat-card-color">
        <mat-card-title class="card-title-icon">
          <mat-icon color="primary" inline=true>contact_phone</mat-icon>
        </mat-card-title>
        <br />

        <mat-card-content class="align-center">
          <p>
            Direct: 402-896-5899
          </p>
          <p>
            Toll-free: 1-888-896-5899
          </p>
          <p>
            Fax: 402-896-5900
          </p>
          <br />
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Layout for the eMail Address Column -->
    <div fxFlex>
      <mat-card class="mat-elevation-z0 mat-card-color">
        <mat-card-title class="card-title-icon">
          <mat-icon color="primary" inline=true>email</mat-icon>
        </mat-card-title>
        <br />

        <mat-card-content class="align-center">
          <p>
            contact@bobscomputerrepair.com
         </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
