h1
{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.normal-p {
  width: 90%;
  margin: 0 auto;
  font-size: 18px;
}

.card-title-icon {
  text-align: center;
  margin: 0 auto;
}

.card-title-icon, .mat-icon {
  font-size: 60px;
}

.mat-icon {
  padding-top: 2rem;
}

.mat-card {
  margin-bottom: 2%;
  padding-top: 60px;
}

.align-center {
  text-align: center;
}

.mat-card-color {
  color: #BDB7AB;
    background: #0E2130;
}
