<div fxLayout="column" class="main-welcome" color="primary">
  <h1 class="title">
    Welcome - Bob's Computer Repair Shop <br />
    <span class="subtitle">
      Welcome to Bob's Computer Repair Shop! Your one stop shop for all your computer repair needs.
    </span>

    <div class="home-body">
      <h2>We provide the following services:</h2>

      <li>Password Resets: Lost or forgot your password? No problem we can reset it for you.</li>
      <li>Spyware Removal: Uh oh, something you clicked on is now spying on you? Don't worry we can remove it.</li>
      <li>RAM Upgrades: Has your computer slowed down? Sounds like you need a RAM upgrade.</li>
      <li>Software Installations: Purchase some new software and have no clue how to install it? No worries, we'll install it for you.</li>
      <li>Tune-ups: Computer isn't performing like it used to? We can help, all you need is a tune-up!</li>
      <li>Keyboard Cleaning: Clicking buttons and they don't pop back up? Sounds like your keyboard needs a good cleaning.</li>
      <li>Disk Clean-up: have some junk on your hard disk? Let us clean it up for you!</li>

      <br/>
      
      <p>In order for us to help, simply login and we'll get started. No account? Please click the
        login link to create a new account.</p>
    </div>
  </h1>
</div>
