.main-welcome {
  margin-top: 30px;
}

.title {
  text-align: center;
}

table {
  width: 80%;
  margin: 0 auto;

}

th {
  padding-top: 2%;
  padding-bottom: 2%;
}
tr {
  font-size: 16px;
}

h2, h3, p {
  margin: 0 auto;
  text-align: center;
}

.here-link {
  text-decoration: none;
  color:  #BDB7AB;
}
