<div fxLayout="column" class="main-welcome" color="primary">
    <br /><br />
    <h1 class="title">
        Welcome to Bob's Computer Repair Shop!</h1>
    <br /><br />
    <h2><strong>
        Your one stop shop for all your computer repair needs.
    </strong>
    </h2>
    <br /><br />
    <div class="row">
        <div class="home-body col-sm-12">
            <table>
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">
                            <h3><strong>We provide the following services:</strong></h3>
                        </th>
                        <th scope="col"></th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td scope="row" style="width: 8%;">Password Resets:</td>
                        <td style="width: 46%; text-align: left">Lost or forgot your password?</td>
                        <td style="width: 46%; text-align: left">No problem - we can reset it for you.</td>
                    </tr>

                    <tr>
                        <td scope="row" style="width: 10%;">Spyware Removal:</td>
                        <td style="width: 35%; text-align: left">Uh oh, something you clicked on is now spying on you?</td>
                        <td style="width: 35%; text-align: left">Don't worry we can remove it.</td>
                    </tr>
                    <tr>
                        <td scope="row" style="width: 10%;">RAM Upgrades:</td>
                        <td style="width: 35%; text-align: left">Has your computer slowed down?</td>
                        <td style="width: 35%; text-align: left">Sounds like you need a RAM upgrade.</td>
                    </tr>
                    <tr>
                        <td scope="row" style="width: 10%;">Software Installations:</td>
                        <td style="width: 40%; text-align: left">Purchase some new software and have no clue how to install it?</td>
                        <td style="width: 40%; text-align: left">No worries, we'll install it for you.</td>
                    </tr>
                    <tr>
                        <td scope="row" style="width: 10%; text-align: left">
                            Tune-ups:
                        </td>
                        <td scope="row" style="width: 35%; text-align: left">
                            Computer isn't performing like it used to?

                        </td>
                        <td scope="row" style="width: 35%; text-align: left">
                            We can help, all you need is a tune-up!

                        </td>
                    </tr>
                    <tr>
                        <td scope="row" style="width: 20%; text-align: left">Keyboard Cleaning:</td>

                        <td scope="row" style="width: 35%; text-align: left">Clicking buttons and they don't pop back up?</td>
                        <td scope="row" style="width: 35%; text-align: left"> Sounds like your keyboard needs a good cleaning.</td>
                    </tr>
                    <tr>
                        <td scope="row" style="width: 20%; text-align: left">Disk Clean-up:</td>
                        <td scope="row" style="width: 35%; text-align: left">Have some junk on your hard disk?</td>
                        <td scope="row" style="width: 35%; text-align: left">Let us clean it up for you!</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <br /><br /><br />

    <!--<p>In order for us to help, simply login and we'll get started. No account? Please click the
       <button mat-button class="navbar-link" routerLink="/session/signin" mat-button>Login</button> link to create a new account.</p>-->
    <p>In order for us to help, simply login and we'll get started. No account? Please click
        <a routerLink="/session/signin" class="here-link"><strong>here</strong></a> or the Log In link above to create a new account.</p>
