<!--
=============================================================
 Title:  base-layout.component.html
 * Modifiers: Nicole Forke, Janet Blohn, Joann Saeou
 * Date: 10/27/2020
 * Description: Bobs Computer Repair Services
 * HTML for the UserDetails Component
 ============================================
 * Added links 10/27/20 Janet Blohn
=============================================================
-->
<div fxLayout="column">

  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar>
      <!-- navbar container -->
      <div class="navbar-container">
        <div fxLayout="row">
          <div style="width: 20%;">
        <!-- logo -->
        <!--<button class="logo" routerLink="/" mat-button>BCRS</button>-->

        <button class="navbar-link" routerLink="/" mat-button>Home</button>
        <button class="navbar-link" routerLink="/about" mat-button>About/Contact Us</button>
      </div>
    <!-- logo -->
      <button mat-button class="logo">
        <img src="./assets/bobsLogo.png" />
      </button>
      <h2>Bob's Computer Repair Shop</h2>

      <div style="width: 20%" class="float-end">
      <button mat-button class="navbar-link" routerLink="/session/signin" mat-button>Log In</button>
      <button mat-button class="navbar-link" (click)="logOut()">Log Out</button>
     </div>
  </div>
      </div>

    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{year | date: 'yyyy'}} - Bob's Computer Repair Shop - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>

</div>
